
<%= render "shared/header" %>


<html>
<head>

<!-- GOOG MAP -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx9-z6p_I0bOLTADMVsDRxY21qD0y3cIw">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(42.3581, -71.0636),
          zoom: 10
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);


$(document).ready(function() {
  $('.feedEntry-event').hover(function() {
    console.log($(this).text());
  })

});

function initialize() {

  var entries = <%= @entries.to_json.html_safe %>;
  var dates = <%= @event_dates.to_json.html_safe %>;
  var locations = <%= @locations.to_json.html_safe %>;
  var summaries = <%= @event_summaries.to_json.html_safe %>;
  var links = <%= @event_links.to_json.html_safe %>;
  var ids = <%= @event_ids.to_json.html_safe %>;

  var myLatlng = new google.maps.LatLng(42.3581, -71.0636);
  var mapOptions = {
    center: new google.maps.LatLng(42.3581, -71.0636),
    zoom: 12
  };

  var map = new google.maps.Map(document.getElementById("map-canvas"),
    mapOptions);

  for (var i=0; i<locations.length; i++) {
    var latLng = new google.maps.LatLng(locations[i]['lat'], locations[i]['lng']);
    
    var marker = new google.maps.Marker({
      position: latLng,
      map: map,
      title: locations[i]['title']
    });

    // need to wrap listener in closure to get each marker in loop
    // see http://robertnyman.com/2008/10/09/explaining-javascript-scope-and-closures/
    (function(marker) {
      google.maps.event.addDomListener(marker, 'click', function() {
        var title = marker.getTitle();
        var title_link = "<a href='" + links[title] + "' target='_blank'>" + title + "</a>"
        var summary = summaries[title];
        $("#summary-content").html(summary);
        $("#summary-title").html(title_link);
        console.log(dates[title], ids[title]);
      });
    })(marker);
  }

}

google.maps.event.addDomListener(window, 'load', initialize);


var search = $('#search-bar');

$('#search-btn').click(function() {
  log_search()

})

var log_search = function() {
  search_term = search.val();
  console.log("new search: ", search_term);
}

var set_map_center = function(address) {
  // convert address to lat-lng
  // set map center to lat-lng
}
    </script>


 

 </head>

  <body>

    <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
            <h3 id="summary-title" class="lead"></h3>
            <p id="summary-content"></p>
          </li>
          <li><p></p><p></p></li>
          <li>
           <div id="recent_events">
                  <h3 class = "lead"> upcoming events</h3>
                      <ul>
      <% for entry in @entries %>
        <li class="feedEntry-event" id="<%=entry.id%>"><%= link_to h(entry.title), entry.link %></li>
      <% end %>
    </ul>
               </div>
             </li>
        </ul>
    </div>
    </div>


    <div id="map-canvas" style="width: 77%; height: 100%" ></div>

  </body>
</html>
