
<%= render "shared/header" %>


<html>
<head>

<!-- GOOG MAP -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style>
      #legend {
        background: white;
        padding: 10px;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx9-z6p_I0bOLTADMVsDRxY21qD0y3cIw">
    </script>
    <script type="text/javascript">
    /*
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(42.3581, -71.0636),
          zoom: 10
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    */

$(document).ready(function() {
  
  /*
  $('.feedEntry-event').hover(function() {
    console.log($(this).text());
  })
  */
  console.log("ready");

});


$(window).ready(function() {
  console.log("window");
});



function initialize() {

  var entries = <%= @entries.to_json.html_safe %>;
  var dates = <%= @event_dates.to_json.html_safe %>;
  var locations = <%= @locations.to_json.html_safe %>;
  var summaries = <%= @event_summaries.to_json.html_safe %>;
  var links = <%= @event_links.to_json.html_safe %>;
  var ids = <%= @event_ids.to_json.html_safe %>;
  var types = <%= @event_types.to_json.html_safe %>;

  var myLatlng = new google.maps.LatLng(42.3581, -71.0636);
  var mapOptions = {
    center: new google.maps.LatLng(42.3581, -71.0636),
    zoom: 12
  };

  var map = new google.maps.Map(document.getElementById("map-canvas"),
    mapOptions);

  map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(
    document.getElementById('legend'));

  styles = [];

  var blueDot = "<%= image_url('blue-dot.png') %>";
  styles.push({"type": "Story Time", "icon": blueDot});

  var greenDot = "<%= image_url('green-dot.png') %>";
  styles.push({"type": "Exhibition", "icon": greenDot});

  var orangeDot = "<%= image_url('orange-dot.png') %>";
  styles.push({"type": "Visual Arts", "icon": orangeDot});

  var pinkDot = "<%= image_url('pink-dot.png') %>";
  styles.push({"type": "&nbsp;Attractions &amp; Museums", "icon": pinkDot});

  var purpleDot = "<%= image_url('purple-dot.png') %>";
  styles.push({"type": "Tours", "icon": purpleDot});

  var redDot = "<%= image_url('red-dot.png') %>";
  styles.push({"type": "Meeting / Hearing", "icon": redDot});

  var yellowDot = "<%= image_url('yellow-dot.png') %>";
  styles.push({"type": "Early Literacy", "icon": yellowDot});



  var legend = document.getElementById('legend');
    for (var i=0; i<styles.length; i++) {
      var style = styles[i];
      console.log(style);
      var name = style.type;
      var icon = style.icon;
      var div = document.createElement('div');
      div.innerHTML = '<img src="' + icon + '"> ' + name;
      legend.appendChild(div);
  }

  for (var i=0; i<locations.length; i++) {
    var latLng = new google.maps.LatLng(locations[i]['lat'], locations[i]['lng']);

    var t = locations[i]['title'];
    var type = types[t];
 

    if (typeof(type)==='string') {

      if (type.indexOf("Story Time") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: blueDot
        });
      }

      else if (type.indexOf("Exhibition") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: greenDot
        });
      }else if (type.indexOf("Visual Arts") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: orangeDot
        });
      }else if (type.indexOf("Attractions & Museums") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: pinkDot
        });
      }else if (type.indexOf("Tours") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: purpleDot
        });
      }else if (type.indexOf("Meeting / Hearing") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: redDot
        });
      }else if (type.indexOf("Early Literacy") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: yellowDot
        });
      }

      else {
        /*
        console.log(type);
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/intl/en_us/mapfiles/ms/micons/msmarker.shadow.png"
        });
*/
      }
  
      /*
      if (type.indexOf("Arts & Crafts") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: <%= image_path("images/blue-dot.png") %>
        });
      }

      if (type.indexOf("Attractions & Museums") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Author Talk") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Book Group") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Book Sale") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Community Meeting") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Computers\/Technology") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Concerts \/ Live Music") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Early Literacy") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Environmental Events") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("ESOL") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Exhibition") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Farmer's Market") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Film") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Food & Dining") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Games\/Gaming") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Health \/ Fitness") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Historical") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Holiday Celebration") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Homework Help") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Meeting \/ Hearing") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Nature") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      if (type.indexOf("Non-Profit Fundraiser") > -1) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: t,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
      }
      */

  } else {
    console.log(ids[t]);
    /*
    var marker = new google.maps.Marker({
      position: latLng,
      map: map,
      title: t
    });
*/
  }

    /*
    Parades & Festivals|Park Event|Performing Arts|Public Meeting \/ Hearing|Social Network
                       ing|Sports|Story Time|Talks & Lectures|
                        30     Theatre|Tours|Visual Arts|Volunteer Opportunity|Walks & Races|Workshops & Classes/
    
                        */
    
    /*
    var marker = new google.maps.Marker({
      position: latLng,
      map: map,
      title: t
    });
    */

    // need to wrap listener in closure to get each marker in loop
    // see http://robertnyman.com/2008/10/09/explaining-javascript-scope-and-closures/
    (function(marker) {
      google.maps.event.addDomListener(marker, 'click', function() {
        var title = marker.getTitle();
        var title_link = "<a href='" + links[title] + "' target='_blank'>" + title + "</a>"
        var summary = summaries[title];
        $("#summary-content").html(summary);
        $("#summary-title").html(title_link);
        console.log(dates[title], ":", types[title], ":", ids[title]);
      });
    })(marker);
  }

}

google.maps.event.addDomListener(window, 'load', initialize);


var search = $('#search-bar');

$('#search-btn').click(function() {
  log_search()

})

var log_search = function() {
  search_term = search.val();
  console.log("new search: ", search_term);
}

var set_map_center = function(address) {
  // convert address to lat-lng
  // set map center to lat-lng
}

typeEnum = {

}
    </script>


 </head>

  <body>

    <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
            <h3 id="summary-title"></h3>
            <p id="summary-content"></p>
          </li>
          <li><p></p><p></p></li>
          <li>
           <div id="recent_events">
                  <h3 class = "lead"> upcoming events</h3>
                      <ul>
      <% for entry in @entries %>
        <li class="feedEntry-event" id="<%=entry.id%>"><%= link_to h(entry.title), entry.link %></li>
      <% end %>
    </ul>
               </div>
             </li>
        </ul>
    </div>
    </div>

    <div id="legend">
      <b>Legend</b><br/>Event Types
    </div>


    <div id="map-canvas" style="width: 77%; height: 100%" ></div>


  </body>
</html>

